# Logs
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules

# Build directories
dist
dist-ssr

# Local environment files
*.local
.env
/backend/.env
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Ignore the backend .env file


# Ignore node_modules directories
/node_modules
/backend/node_modules
/frontend/node_modules
/frontend/node_modules
/frontend/Admin
/frontend/android